@model OrchardHUN.ModuleProfiles.ViewModels.ProfileListViewModel
           
@{
    Style.Require("ModuleProfiles");
    Script.Require("jQuery").AtHead();
}

<script type="text/javascript">
    IncludeProfile = function(index) {
        if ($("#Current_Modules_" + index + "__Included").is(':checked')) $("#Current_Modules_" + index + "__Enabled").removeAttr("disabled");
        else $("#Current_Modules_" + index + "__Enabled").attr("disabled", true);
    }

    MouseOnRow = function(index) {
        $("#row-" + index).addClass("selectedRow");
    }

    MouseOutRow = function(index) {
        $("#row-" + index).removeClass("selectedRow");
    }

    $(document).ready(function () {
        $("tr:odd").addClass("oddRow");

        $("#viewSelectedProfile").click(function() {
            window.location.href = "/Modules/ModuleProfiles/" + $("#profileList option:selected").val();
        });

        $("#activateSelectedProfile").click(function () {
            $.ajax({
                type: "POST",
                url: "@Url.Action("ActivateProfile")",
                data: {
                    __RequestVerificationToken: $(':input[name="__RequestVerificationToken"]').val(),
                    Name: $("#profileList option:selected").val()
                },
                success: function() {
                    window.location.reload();
                }
            });           
        });

        $("#inverseActivateSelectedProfile").click(function () {
            $.ajax({
                type: "POST",
                url: "@Url.Action("InverseActivateProfile")",
                data: {
                    __RequestVerificationToken: $(':input[name="__RequestVerificationToken"]').val(),
                    Name: $("#profileList option:selected").val()
                },
                success: function() {
                    window.location.reload();
                }
            });           
        });

        $("#deleteSelectedProfile").click(function () {
            $.ajax({
                type: "DELETE",
                url: "@Url.Action("DeleteProfile")",
                data: {
                    __RequestVerificationToken: $(':input[name="__RequestVerificationToken"]').val(),
                    Name: $("#profileList option:selected").val()
                },
                success: function() {
                    window.location.reload();
                }
            });           
        });

        $("#createNewProfile").click(function () {
            var name = $("#newProfileNameField").val();
            $.ajax({
                type: "POST",
                url: "@Url.Action("CreateProfile")",
                data: {
                    __RequestVerificationToken: $(':input[name="__RequestVerificationToken"]').val(),
                    Name: name
                },
                success: function() {
                    window.location.href = "/Modules/ModuleProfiles/" + name;
                }
            });           
        });

        $("#saveCurrentConfiguration").click(function () {
            var name = $("#newProfileNameField").val();
            $.ajax({
                type: "POST",
                url: "@Url.Action("SaveConfiguration")",
                data: {
                    __RequestVerificationToken: $(':input[name="__RequestVerificationToken"]').val(),
                    Name: name
                },
                success: function() {
                    window.location.href = "/Modules/ModuleProfiles/" + name;
                }
            });           
        });
    });
</script>

<h1>@Html.TitleForPage(T("Module Profiles").ToString())</h1>

@using (Html.BeginFormAntiForgeryPost())
{
    @Html.Label("model", T("Here is a list of the available module profiles:").ToString())
    @Html.DropDownListFor(model => model.ProfileNames.Values, new SelectList(Model.ProfileNames.Values), new { id = "profileList" })

    <input type="button" name="viewProfile" id="viewSelectedProfile" class="button" value="@T("View")" />
    <input type="button" name="activateProfile" id="activateSelectedProfile" class="button" value="@T("Activate")" />
    <input type="button" name="inverseActivateProfile" id="inverseActivateSelectedProfile" class="button" value="@T("Activate Inverse")" />
    <input type="button" name="deleteProfile" id="deleteSelectedProfile" class="button" value="@T("Delete")" />
}

<br />
<br />

@using (Html.BeginFormAntiForgeryPost())
{
    @Html.TextBox("Name", "", new { id = "newProfileNameField" })
    <input type="button" name="createProfile" id="createNewProfile" class="button" value="@T("Create New Profile")" />
    <input type="button" name="saveConfiguration" id="saveCurrentConfiguration" class="button" value="@T("Save Current Configuration")" />
}

<br />
<br />

@if (Model.Current != null)
{
    using (Html.BeginFormAntiForgeryPost(Url.Action("SaveProfile"), FormMethod.Post))
    {
    <h1>@T("Selected profile:\t")@Html.DisplayTextFor(m => Model.Current.Name)</h1>
        @Html.HiddenFor(m => Model.Current.Name)
    
    <button type="submit" class="primaryAction">@T("Save Profile")</button>
    
    <br />
    <br />
        
    <table id="moduleTable">
        <thead>
            <tr>
                <td class="centeredColumn">#</td>
                <td>@T("Included")</td>
                <td>@T("Enabled")</td>
                <td>@T("Current state")</td>
                <td>@T("Profile name")</td>
            </tr>
        </thead>
        <tbody>
        @for (int i = 0; i < Model.Current.Modules.Count; i++)
        {
            var index = i + 1;
            <tr id="row-@index" onmouseover="MouseOnRow(@index)" onmouseout="MouseOutRow(@index)">
                <td class="centeredColumn">@index</td>
                <td>@Html.CheckBoxFor(m => Model.Current.Modules[i].Included, new { onClick = "IncludeProfile(\"" + @i + "\")" })</td>
                @if (Model.Current.Modules[i].Included)
                {
                    <td>@Html.CheckBoxFor(m => Model.Current.Modules[i].Enabled)</td>
                }
                else
                {
                    <td>@Html.CheckBoxFor(m => Model.Current.Modules[i].Enabled, new { disabled = true })</td>
                }
                @if (@Model.CurrentProfileStates[Model.Current.Modules[i].Name])
                {
                    <td>@T("Enabled")</td>
                }
                else
                {
                    <td>@T("Disabled")</td>
                }
                <td>
                    @Html.DisplayTextFor(m => Model.Current.Modules[i].Name)
                    @Html.HiddenFor(m => Model.Current.Modules[i].Name)
                </td>
            </tr>
        }
        </tbody>
    </table>
    
    <br />
    
    <button type="submit" class="primaryAction">@T("Save Profile")</button>
    }

}
else
{
    <h2>@T("No profile selected")</h2>
}